@-webkit-keyframes mymove /* <--- here */
{
    0%   {top:62px;}
    50%  {top:40px;}
    100% {top:62px;}
}

.arrow {
  -webkit-animation: mymove 2s infinite;/* <--- and here */
  position: absolute;
  display: none;
/*  left: 50%;
  transform: translateX(-50%);*/
}

.arrow:after {
  content: '';
  width: 20px;
  height: 20px;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  transform: rotate(45deg);
  display: block;
}
