@font-face {
  font-family: 'Qardoos';
  font-style: normal ;
  font-weight: normal;
  src: url('../fonts/Qardoos.otf') format('open-type');
}

.noto {
  font-family: 'Noto Serif TC', serif;
}

h1 {
  font-size: 48px;
  font-weight: 100;
  letter-spacing: 1.9px;
  margin: 10px 0px;
  line-height: 48px;
}



h2 {
  font-size: 26px;
  letter-spacing: 0px;
  margin: 8px 0px;
}

.banner {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
  height: calc(100vh - 130px);
}

.banner__wrap {
  text-align: center;
}

.banner__title {
  line-height: 1;
  margin-bottom: 22px;
}

.banner__subtitle .banner__letter {
  font-weight: 100;
}

@media (min-width: 768px) {
  h1 {
    font-size: 70px;
  }

/*  .banner {
    justify-content: flex-end;
  }

  .banner__wrap {
    text-align: left;
  }*/
}
