.my-work {
  background-color: #ECE8E8;
  padding: 50px 20px;
}

.my-work__wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.my-work__header {
  margin-bottom: 60px;
  color: #333333;
}

@media (min-width: 768px) {
  .my-work {
    padding: 50px ;
  }
}
