.nav {
  position: fixed;
  width: 100vw;
  top: 0px;
  /*padding: 20px;*/
  /*background-color: rgba(0, 0,0, .4);*/
  z-index: 4;
  left: 0;
  box-sizing: border-box;
}

.nav__inner {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  justify-content: flex-end;
}

.nav__link {
  color: white;
  text-decoration: underline;
  font-weight: bold;
  padding: 0px 16px;
  opacity: .8;
  transition: opacity .2s ease;
  cursor: pointer;
  font-size: 12px;
}

.nav__link:hover {
  opacity: 1;
}
